<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">

        <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
            viewBox="0 0 101.678 101.678">
            <title>Rocket Ship</title>
            <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
                <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839"
                    transform="translate(141 696)" fill="#dd0031" />
                <circle id="Ellipse_9" data-name="Ellipse 9" cx="50.839" cy="50.839" r="44.839"
                    transform="translate(141 696)" fill="#ffffff" />
                <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
                    <text x="-3" y="52.839" font-family="sans-serif" font-size="6.5em" fill="#1976d2">A</text>
                </g>
            </g>
        </svg>

        <span>{{ title }}</span>
    </div>

    <div class="form">
        <div class="form-panel one">
            <div class="form-header">
                <h1>REGISTRO DE MILITANTES</h1>
            </div>
            <div class="form-content">
                <form>
                    <div class="row form-group">
                        <div class="col">
                            <label for="apellidos">Apellidos</label>
                            <input id="apellidos" type="text" class="form-control" placeholder="apellidos">
                        </div>
                        <div class="col">
                            <label for="nombres">Nombres</label>
                            <input id="nombres" type="text" class="form-control" placeholder="nombres">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="dni">Dni</label>
                            <input id="dni" type="text" class="form-control" placeholder="dni">
                        </div>
                        <div class="col">
                            <label for="edad">Edad</label>
                            <input id="edad" type="text" class="form-control" placeholder="edad">
                        </div>
                        <div class="col">
                            <label for="sexo">Sexo</label>
                            <select id="sexo" class="form-select" aria-label="Default select example">
                                <option selected>Seleccione</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="telefono">Teléfono Fijo</label>
                            <input id="telefono" type="text" class="form-control" placeholder="telefono fijo">
                        </div>
                        <div class="col">
                            <label for="celular">Teléfono Celular</label>
                            <input id="celular" type="text" class="form-control" placeholder="telefono celular">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="gradoInstruccion">Grado de Instrucción</label>
                            <select id="gradoInstruccion" class="form-select" aria-label="Default select example">
                                <option selected>Seleccione</option>
                                <option value="Primaria">Primaria</option>
                                <option value="Secundaria">Secundaria</option>
                                <option value="Superior">Superior</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-6">
                            <label for="provincia ">Provincia</label>
                            <select id="provincia" class="form-select" aria-label="Default select example">
                                <option selected>Seleccione</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="distrito  ">Distrito</label>
                            <select id="distrito" class="form-select" aria-label="Default select example">
                                <option selected>Seleccione</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="direccion">Dirección</label>
                            <input id="direccion" type="text" class="form-control" placeholder="direccion">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col">
                            <label for="votacion">Lugar de Votación</label>
                            <input id="votacion" type="text" class="form-control" placeholder="lugar de votacion">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col d-flex align-items-start">
                            <input id="registrarme" type="checkbox" class="" value="" >
                            <label for="votacion">Registrarme como Personero</label>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <a id="back" href="" target="_self">Regresar al Inicio</a>
</div>