<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">

        <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678"
            viewBox="0 0 101.678 101.678">
            <title>Rocket Ship</title>
            <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
                <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839"
                    transform="translate(141 696)" fill="#dd0031" />
                <circle id="Ellipse_9" data-name="Ellipse 9" cx="50.839" cy="50.839" r="44.839"
                    transform="translate(141 696)" fill="#ffffff" />
                <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
                    <text x="-3" y="52.839" font-family="sans-serif" font-size="6.5em" fill="#1976d2">A</text>
                </g>
            </g>
        </svg>

        <span>{{ title }}</span>
    </div>

    <!-- Resources -->
    <h2>APP</h2>
    <p>Registro de simpatizantes</p>

    <div class="card-container">

        <a class="card" target="_self" rel="noopener" href="militante">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M16 17V19H2V17S2 13 9 13 16 17 16 17M12.5 7.5A3.5 3.5 0 1 0 9 11A3.5 3.5 0 0 0 12.5 7.5M15.94 13A5.32 5.32 0 0 1 18 17V19H22V17S22 13.37 15.94 13M15 4A3.39 3.39 0 0 0 13.07 4.59A5 5 0 0 1 13.07 10.41A3.39 3.39 0 0 0 15 11A3.5 3.5 0 0 0 15 4Z" />
            </svg>
            <span>Militante</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
            </svg>
        </a>
    </div>
</div>